$font-stack:    Helvetica, sans-serif;
$primary-color: #d3a91f;
$secondary-color: #141212;
$width: 100%;
$space: 20px;

html, body, p , ul{
    margin: 0;
    padding: 0;
  }
  body {
    font: 100% $font-stack;
    color: $primary-color;
  
  }
  header{
      padding:$space*2 0 $space;
  }
  ul {
    list-style: none;

    li {
        margin: 0;
        display: inline;
        &:nth-child(1) a:hover {
            background-color:#1fd10f;
        }
        &:nth-child(2) a:hover {
            background-color:#220fd1;
        }
        &:nth-child(3) a:hover {
            background-color:#d3e90f;
        }
        &:nth-child(4) a:hover {
            background-color:#d10f87;
        }
        &:nth-child(5) a:hover {
            background-color:#d10f0f;
        }
        &:nth-child(6) a:hover {
            background-color:#227174ee;
        }
        a {
            text-decoration: none;
            color: $secondary-color;
            background: $primary-color;
            padding: $space/4 $space/2;
            transition: all .5s;
            &:before {
                content: '~';
            }
        }
    }
}

blockquote::after, blockquote::before {
    content:'"';
}

article {
    background: grayscale($primary-color);
    color: $secondary-color;
    padding: $space/2;
    &::first-letter{
        font-size: $width * 1.5;
    }
    &:first-child, &:last-child{
        background: white;
    }

    &:nth-child(4n+2), &:nth-child(4n+3){
        grid-column: span 3;
        color:$primary-color; 
    }

}
main {
    width: $width*.9;
    margin: 0 auto;
    background: lighten($primary-color, 10%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: $space/2;
  }